@import 'tailwindcss';
@source "../../../../packages/ui-catalyst/src/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@theme {
  --font-sans: Inter, sans-serif;
  --font-sans--font-feature-settings: 'cv11';
  --color-accent: oklch(0.56 0.11 248);
}
